/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* COLORS */
  /* demande */
  --primary-demande: #87db78;
  --primary-demande-lighten: #daffd3;
  --primary-demande-darken: #66af59;

  /* offre */
  --primary-offre: #ff3c74;
  --primary-offre-lighten: #ffd9e4;
  --primary-offre-darken: #d82e5f;

  /* profil */
  --primary-profil: #44b7fb;
  --primary-profil-lighten: #d6f0ff;
  --primary-profil-darken: #278fcd;

  --main-dark: #151f2a;
  --main-light: #404d5c;
  --main-gray: #727f8f;

  --gray-1: #f5faff;
  --gray-2: #d5dde5;
  --gray-3: #b8c1cc;
  --gray-4: #9ba6b2;

  --background-color: var(--primary-profil-lighten);

  --primary-padding: 16px;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--background-color);

  --color-text: var(--main-dark);

  --section-gap: 160px;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'TTChocolates',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: 'TTChocolatesBold';
}
